<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <header>

        <h2>CampusVoice</h2>
        <nav>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <main>
        <h1>Halo, {{ nama }}!</h1>
        <p>
            Selamat datang di Dashboard Administrator CampusVoice.
        </p>

        <div class="dashboard-card">
            <div class="card">
                <h3>Total Keluhan</h3>
                <h1>{{ statistik.total }}</h1>
            </div>

            <div class="card">
                <h3>Menunggu</h3>
                <h1>{{ statistik.menunggu }}</h1>
            </div>

            <div class="card">
                <h3>Diproses</h3>
                <h1>{{ statistik.diproses }}</h1>
            </div>

            <div class="card">
                <h3>Selesai</h3>
                <h1>{{ statistik.selesai }}</h1>
            </div>

        </div>

        <h2>Keluhan Terbaru</h2>

            <table>
                <tr>
                    <th>Tanggal</th>
                    <th>NIM</th>
                    <th>Kategori</th>
                    <th>Status</th>
                </tr>

                {% for row in terbaru %}

                <tr>
                    <td>{{ row.tanggal }}</td>
                    <td>{{ row.nim }}</td>
                    <td>{{ row.kategori }}</td>
                    <td>{{ row.status }}</td>
                </tr>
                {% endfor %}
            </table>

            <div class="action">
                <a href="/kelola_keluhan">
                    <button>
                    Kelola Seluruh Keluhan
                    </button>
                </a>
            </div>
    </main>
</body>
</html>